---
import Layout from "@layouts/Layout.astro";
import UserInformation from "@components/UserInformation.astro";
import "../global.css";
---

<Layout title="Esto es otra ventana 1">
	<main>
		<section class="providers b-[#ffffff] p-5">
			<UserInformation />
			<h1 class="font-semibold text-3xl">Esto es otra ventana 1</h1>
		</section>
	</main>
</Layout>
