---
import Table from "./Table.astro";
import Card from "./Card.astro";
import Download from "../assets/icons/Download.astro";
import Add from "../assets/icons/Add.astro";
---

<div class="">
  <div class="user-information flex flex-row-reverse items-center gap-5">
    <div class="photo h-[50px] w-[50px] bg-black rounded-full"></div>
    Nombre de Usuario
  </div>

  <div class="flex justify-between mt-10">
    <h1 class="font-semibold text-3xl">Mi inventario</h1>

    <div class="buttons flex gap-5">
      <button
        class="border-2 border-gray-500 py-2 px-4 rounded-lg cursor-pointer flex gap-3 items-center"
      >
        <Download />
        Descargar inventario
      </button>
      <button
        class="bg-[#35D399] text-[#333333] py-2 px-4 rounded-lg cursor-pointer flex gap-3 items-center"
      >
        <Add />
        Añadir Producto
      </button>
    </div>
  </div>

  <div class="cards flex gap-5 mt-5">
    <Card icon="Inventory" quantity="20" description="Productos en total" />
    <Card icon="1" quantity="15" description="Productos disponibles" />
    <Card icon="1" quantity="5" description="Total vendido" />
    <Card icon="1" quantity="4" description="Cantidad de marcas" />
  </div>

  <Table />
</div>
