---
const { modalTitle } = Astro.props;
---

<div
  class="modal-container bg-black/50 h-full fixed w-full left-0 top-0 z-10 p-10"
>
  <h3 class="text-white text-2xl font-semibold">{modalTitle}</h3>

  <slot />
</div>
