---
const { pathname } = Astro.url;
const verifyPath = (route) => pathname === route && true;

import MonitoringIcon from "@icons/MonitoringIcon.astro";
import FolderIcon from "@icons/FolderIcon.astro";
import ProvidersIcon from "@icons/ProvidersIcon.astro";
import ShopIcon from "@icons/ShopIcon.astro";
import InfoIcon from "@icons/InfoIcon.astro";
import SettingsIcon from "@icons/SettingsIcon.astro";
import LogoutIcon from "@icons/LogoutIcon.astro";
---

<aside
  class="navigation bg-[#F9F9F9] p-5 border-r-2 border-gray-400 h-svh sticky top-0"
>
  <div class="nav-menu h-full flex flex-col justify-between">
    <nav>
      <h2 class="text-2xl text-center font-semibold mb-10">Logo</h2>
      <div>
        <ul>
          <li class="mt-2">
            <a
              href="/reportes"
              class={`${verifyPath("/reportes") && "active"}`}
            >
              <MonitoringIcon color={`${verifyPath("/reportes") && "white"}`} />
              Reportes
            </a>
          </li>
          <hr class="my-3" />
          <li class="mt-2">
            <a
              href="/inventario"
              class={`${verifyPath("/inventario") && "active"}`}
            >
              <FolderIcon color={`${verifyPath("/inventario") && "white"}`} />
              Mi inventario</a
            >
          </li>
          <li class="mt-2">
            <a
              href="/otro-enlace-1"
              class={`${verifyPath("/otro-enlace-1") && "active"}`}
            >
              <ProvidersIcon
                color={`${verifyPath("/otro-enlace-1") && "white"}`}
              />
              Otro enlace 1</a
            >
          </li>
          <li class="mt-2">
            <a
              href="/otro-enlace-2"
              class={`${verifyPath("/otro-enlace-2") && "active"}`}
            >
              <ShopIcon color={`${verifyPath("/otro-enlace-2") && "white"}`} />
              Otro enlace 2</a
            >
          </li>
          <hr class="my-3" />
          <li class="mt-2">
            <a
              href="/otro-enlace-3"
              class={`${verifyPath("/otro-enlace-3") && "active"}`}
            >
              <InfoIcon color={`${verifyPath("/otro-enlace-3") && "white"}`} />
              Otro enlace 3
            </a>
          </li>
          <li class="mt-2">
            <a
              href="/otro-enlace-4"
              class={`${verifyPath("/otro-enlace-4") && "active"}`}
            >
              <SettingsIcon
                color={`${verifyPath("/otro-enlace-4") && "white"}`}
              />
              Otro enlace 4</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <a href="" class="text-left lg-btn" id="btn-logout">
      <LogoutIcon />
      Cerrar Sesión
    </a>
  </div>
</aside>
<style>
  a {
    display: flex;
    gap: 10px;
  }

  a:hover:not(.active) {
    background-color: rgb(234, 234, 234);
  }

  a.active {
    background-color: #2b3541;
    color: white;
  }

  a {
    padding: 10px;
    border-radius: 10px;
  }

  .lg-btn {
    position: relative;
  }

  .lg-btn::after {
    content: "";
    height: 1.5px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: -10px;
  }
</style>

<script>
  document.querySelector("#btn-logout").addEventListener("click", (e) => {
    e.preventDefault();
    alert("Cerrar sesión");
  });
</script>
