---
const { pathname } = Astro.url;
const verifyPath = (route) => pathname === route && true;

import MonitoringIcon from "@icons/MonitoringIcon.astro";
import FolderIcon from "@icons/FolderIcon.astro";
import ProvidersIcon from "@icons/ProvidersIcon.astro";
import ShopIcon from "@icons/ShopIcon.astro";
import InfoIcon from "@icons/InfoIcon.astro";
import SettingsIcon from "@icons/SettingsIcon.astro";
import LogoutIcon from "@icons/LogoutIcon.astro";
---

<div class="nav-menu h-full flex flex-col justify-between">
  <nav>
    <h2 class="text-2xl text-center font-semibold mb-10">
      Logo
    </h2>
    <div>
      <ul>
        <li class="mt-2">
          <a href="/reportes" class={`${verifyPath("/reportes") && "active"}`}>
            <MonitoringIcon color={`${verifyPath("/reportes") && "white"}`} />
            Reportes
          </a>
        </li>
        <hr class="my-3" />
        <li class="mt-2">
          <a
            href="/inventario"
            class={`${verifyPath("/inventario") && "active"}`}
          >
            <FolderIcon color={`${verifyPath("/inventario") && "white"}`} />
            Mi inventario</a
          >
        </li>
        <li class="mt-2">
          <a
            href="/proveedores"
            class={`${verifyPath("/proveedores") && "active"}`}
          >
            <ProvidersIcon color={`${verifyPath("/proveedores") && "white"}`} />
            Proveedores</a
          >
        </li>
        <li class="mt-2">
          <a
            href="/catalogo-web"
            class={`${verifyPath("/catalogo-web") && "active"}`}
          >
            <ShopIcon color={`${verifyPath("/catalogo-web") && "white"}`} />
            Cat치logo Web</a
          >
        </li>
        <hr class="my-3" />
        <li class="mt-2">
          <a
            href="/consultas"
            class={`${verifyPath("/consultas") && "active"}`}
          >
            <InfoIcon color={`${verifyPath("/consultas") && "white"}`} />
            Consultas
          </a>
        </li>
        <li class="mt-2">
          <a
            href="/configuracion"
            class={`${verifyPath("/configuracion") && "active"}`}
          >
            <SettingsIcon color={`${verifyPath("/configuracion") && "white"}`} />
            Configuraci칩n</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <a href="" class="text-left lg-btn" id="btn-logout">
    <LogoutIcon />
    Cerrar Sesi칩n
  </a>
</div>

<style>
  a {
    display: flex;
    gap: 10px;
  }

  a:hover:not(.active) {
    background-color: rgb(234, 234, 234);
  }

  a.active {
    background-color: #2b3541;
    color: white;
  }

  a {
    padding: 10px;
    border-radius: 10px;
  }

  .lg-btn {
    position: relative;
  }

  .lg-btn::after {
    content: "";
    height: 1.5px;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    top: -10px;
  }
</style>

<script>
  document.querySelector("#btn-logout").addEventListener("click", (e) => {
    e.preventDefault();
    alert("Cerrar sesi칩n");
  });
</script>
